.loginContainer {
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .loginButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #BB86FC;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .header {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 20px;
    color: #fff;
    max-width: 600px;
    margin-bottom: 50px;
  }
  