body, html, #root {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: white; 
}

a {
  color: #8f61c6; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.App {
  display: flex; 
  min-height: 100vh; 
  background-color: #121212; 
}

.sideNav {
  width: 240px; 
}

.content {
  flex-grow: 1; 
  padding: 20px; 
}